* {
  margin: 0%;
  top: 0%;
  box-sizing: border-box;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9684ec #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9684ec;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #da004c,
    #db006c,
    #d4148d,
    #c432ac,
    #a94ac9,
    #a262d8,
    #9b77e5,
    #9689ef,
    #b1a6f4,
    #ccc3f9,
    #e5e1fc,
    #ffffff
  );
}

.header-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  align-items: center;
}

.text-header-container {
  backdrop-filter: saturate(2);
  padding: 1rem;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satisfy", cursive;
  font-size: 4vw;
  text-shadow: 1px 1px aqua;
  color: black;
}

header img {
  margin: 0;
  width: 15rem;
}

nav {
  font-family: "Oswald", sans-serif;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 20vw;
  background: #00001a url(/assets/overlay.png);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0, 0.7);
}

.list-option {
  color: #eeeeee;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  right: 0;
  margin: 3vw;
  list-style-type: '🌈 ';
  font-size: 1vw;
}

.list > a:hover{
  color: #db006c;
}

.contact {
  display: none;
}

.icons-list-responsive {
  display: none;
}

.photo-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.photo-container-responsive{
  display: none;
}

.photo-container img {
  width: 13rem;
}
.list {
  font-size: 1.5em;
  transition: background 0.8s;
  border-radius: 10px;
}

.list a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eeeeee;
}

.photo-container {
}

.icons-container {
  display: flex;
  justify-content: space-between;
}

.icons-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}


.icons svg {
  width: 2.1rem;
}

.button {
  --width: 7.2rem;
  --height: 2rem;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: calc(var(--tooltip-height) + 3px);
  --button-color: #1163ff;
  --tooltip-color: #B3AFD3;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin-left: 0.8rem;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.button-icon {
  --height: 2rem;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: calc(var(--tooltip-height) + 3px);
  --tooltip-color: #B3AFD3;
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button-icon::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-icon::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 10px);
}

.button-icon::after,
.button-icon::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.button-icon:hover:before,
.button-icon:hover:after {
  opacity: 1;
  visibility: visible;
}

.button-icon:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-icon:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*Informacion*/

.all-information {
  float: right;
  width: 80vw;
  padding-left: 2vw;
  font-family: "Dancing Script", cursive;

}

/*presentacion*/
.presentation {
  margin-top: 10vh;
}

.presentation-container {
  display: grid;
  column-gap: 10vw;
  margin-bottom: 5vh;
  margin-right: 1.3vw;
}

.text-presentation {
  font-size: 2rem;
  margin: 1vw;
  
}

.container-one, .container-two, .container-three {
  padding: 1vw;
  text-align:justify;
}

.container-one {
  width: 50%;
  background: rgba( 218, 0, 90, 0.55 );
box-shadow: 0px 2px 8px 0px rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container-two {
  width: 75%;
  margin-left: 12.5%;
  background: rgba( 185, 60, 184, 0.55 );
  box-shadow: 0px 2px 8px 0px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container-three{
  width: 75%;
  margin-left: 25%;
  background: rgba( 151, 135, 238, 0.55 );
  box-shadow: 0px 2px 8px 0px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text-container {
  gap: 1vw;
  font-size: 1rem;
  display: grid;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.text-p {
  display: grid;
  justify-content: center;
  margin: 2vw;
  font-size: 1.8rem;
  font-family: "Dancing Script", cursive;
}

/*SKILLS*/
.skills {
  margin-top: 10vh;
  font-family: 'Joan' , serif;
  display: grid;
  justify-content: center;
}

.text-skills {
display: flex;
justify-content: center;
  font-size: 1.5rem;
margin-bottom: 2vh;
}

.skills-container {
  width: 80%;
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, auto);
margin-bottom: 3rem;
padding: 2rem;
justify-self: center;
backdrop-filter: blur(19px) saturate(200%);
-webkit-backdrop-filter: blur(19px) saturate(200%);
background-color: rgba(55, 46, 140, 0.38);
border-radius: 12px;
border: 1px solid rgba(209, 213, 219, 0.3);
}

.icon-container {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    justify-content: center;
    width: 100%;
}

.skills-icon {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.text-icon {
    justify-self: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.3rem;
}

.icon-scrum {
    width: 62px;
}

.icon-bt {
  width: 55px;
}


/*Proyects*/
.projects {
  display: grid;
  justify-content: center;
margin-bottom: 10vh;
}

.title-project{
  margin-top: 2vh;
  margin-bottom: 6vh;
  font-family: 'Joan' , serif;
  font-size: 1.5rem;
  display: grid;
  justify-content: center;
}

.container-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-none {
  visibility: hidden
}
.card-project {
  border-radius: 0.5rem;
   width: 30vw;
  box-shadow: 0px 0px 15px 0px #9A79E6;
margin: 1vw;
}

.title-card{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Joan' , serif;
    font-size: 1.2rem;
    display: grid;
    justify-content: center;

}

.img-project {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tech-icon {
  font-family: 'Nunito', sans-serif;
}

.text-tech{
display: flex;
justify-content: center;
margin-top: 0.3rem;
}

.text-paragraph{
  word-break: break-word;
text-align:justify;
padding: 0.7rem;
}

.card-button {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1vw;
}

.button-project {
 width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3d348b
}
.button-project:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left:8px;
}
.button-project:hover:after {
  opacity: 1;
  right: 10px;
}
.button-project:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


@media only screen and (min-width: 768px) and (max-width:1024px) {
  .header-container {
    width: 100vw;
  }
  
  nav {
    display:grid;
    grid-template-columns: auto;
    position:absolute;
    width: 100%;
    height: 8vh;
  }

 .list-option {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.5vw;
    list-style: none;
  }

  .contact {
    display: inline;
  }

  .photo-container  {
    display: none;
  }

  .icons-list {
display: none;
  }

  .all-information {
    width: 100vw;
  }

  .presentation {
    margin: 0;
  }

  .text-tech {
    text-align: center;
  }

  .presentation-container {
    margin-right: 2vw;
  }

  .photo-container-responsive{
    display: inline-flex;
    position:relative;
    left: 550px;
    top: 180px;
    width: 24vw;
  }

  .photo-container-responsive img{
    width: 12rem;
  }

  .icons-list-responsive{
    display: flex;
    background-color: #00001a ;
    width: 100%;
    height: 5vh;
    padding-top: 0.8vh;
    justify-content: space-evenly;
  }

  .card-project {
    width: 38vw;
  }

  .p-none {
  }
  .card-img {
    display: flex;
    justify-content: center;
  }
  .img-project {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
    .header-container {
width: 100vw;  }
  
  nav {
    display:grid;
    grid-template-columns: auto;
    position:absolute;
    width: 100%;
    height: 8vh;
  }


  header h1 {
    font-size: 7vw;
  }
 .list-option {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 2vw;
  padding: 0;
  list-style: none;
  }

  .list {
    margin: 1vw;
  }
  
  .photo-container  {
    display: none;
  }

  .icons-list {
display: none;
  }

  .all-information {
    width: 100vw;
  }

  .presentation {
    margin: 0;
  }

  .presentation-container {
    margin-right: 2vw;
  }

  .photo-container-responsive{
    display: block;
    justify-content: end;
    position:relative;
    left: 50vw;
    top: 270px;
    width: 24vw;
  }

  .photo-container-responsive img{
    width: 12rem;
  }

  .icons-list-responsive{
    display: flex;
    background-color: #00001a ;
    width: 100%;
    height: 5vh;
    padding-top: 0.8vh;
    justify-content: space-evenly;
  }

  .card-project {
    width: 70vw;
    margin-bottom: 2vh;
  }

  .contact {
    display: inline;
  }
  .card-img {
    display: flex;
    justify-content: center;
  }
  .img-project {
    width: 100%;
  }


  .text-presentation {
    text-align:center;
  }

  .text-container {
    gap: 2.5vw
  }

  .text-p {
    text-align:center;
  }

  .skills-container{
    width: 95%;
    padding: 2vw;
  }

  .skills-icon svg {
    width: 85%;
  }

  .text-icon {
    font-size: 3.5vw;
  }

  .text-tech {
    text-align: center;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-button {
    margin-bottom: 1vw;
  }

  .button-project {
    width: 100%;
  }
}